@import "tailwindcss";

.header-box{
  max-width: 42rem;
  margin-left: auto;
  margin-right: right;
  color: white;
  border-radius: 0.5rem;
}

.header-box.blue{
  background-color: blue;
}

.header-box.red{
  background-color: red;
}

.header-box.green{
  background-color: green;
}

.header-box.yellow{
  background-color: yellow;
}

.header-box.pink{
  background-color: pink;
}

.header-box.orange{
  background-color: orange;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}

.feature-button {
  padding: 3rem 8rem;
  border-radius: 2rem;
  color: white;
  font-size: 26px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.feature-button:hover {
  transform: scale(1.05);
}

.feature-button.red {
  background-color: #F65353;
}

.feature-button.red:hover {
  background-color: #D20000;
}

.feature-button.blue {
  background-color: #007AFF;
}

.feature-button.blue:hover {
  background-color: #03468F;
}

.feature-button.green {
  background-color: green;
}

.feature-button.yellow {
  background-color: yellow;
}

.feature-button.pink {
  background-color: pink;
}

.feature-button.orange {
  background-color: orange;
}