@import "tailwindcss";

* {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

:root {
  --color-background-blue: var(--color-blue-600);
  --color-background-blue-dark: var(--color-blue-700);
  --color-background-red: var(--color-red-600);
  --color-background-red-dark: var(--color-red-700);
  --color-background-green: var(--color-green-600);
  --color-background-green-dark: var(--color-green-700);
  --color-background-yellow: var(--color-yellow-500);
  --color-background-yellow-dark: var(--color-yellow-600);
  --color-background-pink: var(--color-pink-600);
  --color-background-pink-dark: var(--color-pink-700);
  --color-background-orange: var(--color-orange-500);
  --color-background-orange-dark: var(--color-orange-600);
}

.card-header{
  max-width: 42rem;
  color: white;
  border-radius: 0.5rem;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-header.blue{
  background-color: var(--color-background-blue);
}

.card-header.red{
  background-color: var(--color-background-red);
}

.card-header.green{
  background-color: var(--color-background-green);
}

.card-header.yellow{
  background-color: var(--color-background-yellow);
}

.card-header.pink{
  background-color: var(--color-background-pink);
}

.card-header.orange{
  background-color: var(--color-background-orange);
}

.score-display.blue{
  background-color: var(--color-background-blue-dark);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
}

.score-display.red{
  background-color: var(--color-background-red-dark);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
}

.score-display.green{
  background-color: var(--color-background-green-dark);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
}

.score-display.yellow{
  background-color: var(--color-background-yellow-dark);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
}

.score-display.pink{
  background-color: var(--color-background-pink-dark);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
}

.score-display.orange{
  background-color: var(--color-background-orange-dark);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}

.feature-button {
  padding: 3rem 8rem;
  border-radius: 2rem;
  color: white;
  font-size: 26px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.feature-button:hover {
  transform: scale(1.05);
}

.feature-button.red {
  background-color: #F65353;
}

.feature-button.red:hover {
  background-color: #D20000;
}

.feature-button.blue {
  background-color: #007AFF;
}

.feature-button.blue:hover {
  background-color: #03468F;
}

.feature-button.green {
  background-color: green;
}

.feature-button.yellow {
  background-color: yellow;
}

.feature-button.pink {
  background-color: pink;
}

.feature-button.orange {
  background-color: orange;
}